name: Waka Update Readme

on:
  # https://crontab.cronhub.io/
  schedule:
    # Runs at 05:00 UTC every day.
    - cron: '*/5 * * * *'

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anayarojo/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          UPDATED_DATE_FORMAT: "%Y/%m/%d %H:%M:%S"
          SHOW_COMMIT: "True"
          SHOW_DAYS_OF_WEEK: "True"
          SHOW_LANGUAGE: "True"
          SHOW_OS: "True"
          SHOW_PROJECTS: "False"
          SHOW_TIMEZONE: "True"
          SHOW_EDITORS: "True"
          SHOW_LANGUAGE_PER_REPO: "False"
          SHOW_SHORT_INFO: "True"
          IGNORED_REPOS: "anayarojo/anayarojo, anayarojo/waka-readme-stats"
          SYMBOL_VERSION: "2"
          
          
          
